html {
    width: 100%;
    height: 100%;

}

.auth {
    margin-top: 100px;
    margin-bottom: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 40px 24px;
    color: #373745;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.auth__forms {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;

}

.auth__forms input {
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    color: #B1B1B7;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.auth__forms input:invalid {
    border: 1px solid #E93E3E;
}

/*конфликт кнопок поместить в класс, переписать с сектором класса*/
/*button {
    width: 100%;
    height: 48px;
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    border-style: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}*/

.data_entered {
    background: #60C2AA;
}

/**/

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    max-width: 100vw;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
}

.btn-enter {
    background: none;
    border: none;
    cursor: pointer;
}

#nav-panel {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
}

#nav-panel div {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    cursor: pointer;
}

#nav-panel .active {
    padding: 4px 12px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
}